@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #181818;
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#drop-area {
	background-color: white;
	width: 300px;
	height: 200px;
	border: 3px dashed #282828;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}


.txtbox {
	width: 90%;
	height: 200px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}
