@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root {
	--main-bg-color: #634832;
	--button-background: #38220f;
	--button-background-hover: #967259;
}

body {
	font-family: 'Playfair Display', serif;
	background-color: var(--main-bg-color);
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Playfair Display', serif;
}

.input-selection-container {
	display: flex;
	justify-content: center;
}

.input-selection-button {
	background-color: var(--button-background);
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	font-size: 1.1rem;
}

.input-selection-button:hover, .textbox-button:hover {
	background-color: var(--button-background-hover);
}

.input-container {
	width: 100%;
}

#drop-area {
	background-color: white;
	width: 40%;
	height: 200px;
	border: 3px dashed #282828;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}

.result-text {
	color: white;
}

.textbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textbox {
	width: 60%;
	height: 200px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

.textbox-button-container {
	display: flex;
	width: 60%;
	justify-content: flex-end;

}

.textbox-button {
	background-color: var(--button-background);
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	border-radius: 5px;
	font-size: 1.1rem;
}